<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
      <session-timeout>15</session-timeout>
  </session-config> 
  <context-param>  
       <param-name>charset</param-name>  
       <param-value>UTF-8</param-value>  
   </context-param> 
  <servlet>
    <description></description>
    <display-name>DataPacket</display-name>
    <servlet-name>DataPacket</servlet-name>
    <servlet-class>cn.edu.buaa.im.servlet.DataPacketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataPacket</servlet-name>
    <url-pattern>/DataPacket</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DataItem</display-name>
    <servlet-name>DataItem</servlet-name>
    <servlet-class>cn.edu.buaa.im.servlet.DataItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataItem</servlet-name>
    <url-pattern>/DataItem</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>TreeNode</display-name>
    <servlet-name>TreeNode</servlet-name>
    <servlet-class>cn.edu.buaa.im.servlet.TreeNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreeNode</servlet-name>
    <url-pattern>/TreeNode</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>MainModelServlet</display-name>
    <servlet-name>MainModelServlet</servlet-name>
    <servlet-class>cn.edu.buaa.im.servlet.MainModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainModelServlet</servlet-name>
    <url-pattern>/MainModelServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
